.bar {
    width: 40%;
    display: block;
}
.bar-input {
    width: 90%;
    margin-bottom: 28px;
    font-size: 18px;
    height: 40px
}
.bar-features {
    list-style-type: none;
    padding-left: 10px;
}
.bar-features-item {
    font-size: 16px;
    margin-bottom: 10px;
}
.bar-save_location {
    color: blue;
}

.map {
    width: 600px;
    height: 600px;
    display: block;
    width: 40%;
}